body{
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	width: 100%;
	background: #170C03;
	margin: 0px;
}
.headsup{
	max-height: 60%;
	width: 100%;
	margin-bottom:10px;
}
.startup{
	margin-top: 80px;
}
.h{
	height: 60%;
}
h1{
	cursor: default;
	font-color:#FF953D;
	margin-bottom: 0px;
}
h1.faded {
  color: rgba(255, 255, 255, 0.8); 
}
hr{
	background-color: #FF7B0E;
	width: 60px;
	border-width: 2px;
	transition: transform 2s;
}
.btn{
	margin-top: 20px;
	height: 50px;
	width: 200px;
	font-size: 1.2em;
	background-color: #FF7B0E;
	border-color: #FF7B0E;
	border-radius: 100px;
	font-weight: 700;
	transition: transform 2s;
}
.btn:hover{
	background-color: #FF7B0E; 
	border-color: #FF7B0E;
	transform: scale(1.2);
}